<!DOCTYPE html>
<html lang="en">
<head>

{% load static %}
<script>
function chooseastudent()
{
    var request = new XMLHttpRequest();
    var url = "/webapp/selectastudent/"
    var lectureID = 1

    request.open("POST", url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onreadystatechange = function () {

        if (request.readyState === 4 && request.status === 200) {
            var json = JSON.parse(request.responseText);
            
            if (json.status == true)
                alert("A student has been chosen");
            else
                alert("Failed to choose a student");
        }
    };
    var data = "lectureID=" + lectureID;
    request.send(data);
}

function webcheck()
{
    var lectureID = "1"

    var request = new XMLHttpRequest();
    var url = "/webapp/webcheck/"

    request.open("POST", url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onreadystatechange = function () {

        if (request.readyState === 4 && request.status === 200) {
            var json = JSON.parse(request.responseText);

            if (json.status == true) {
                if (json.type === "question")
                    showPopupWindow(document.getElementById('popup_notification'));
                else
                    showPopupWindow(document.getElementById('popup_recording_player'));

                clearInterval(timer);
            }
        }
    };
    var data = "lectureID=" + lectureID;
    request.send(data);
}

function pushLink()
{
    var lectureID = "1"

    var request = new XMLHttpRequest();
    var url = "/webapp/pushLink/"

    request.open("POST", url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onreadystatechange = function () {

        if (request.readyState === 4 && request.status === 200) {
            var json = JSON.parse(request.responseText);

            if (json.status == true)
                alert("The link has been pushed to all students in the lecture");
            else
                alert("Failed to push the link to all students in the lecture");
        }
    };
    var data = "lectureID=" + lectureID;
    request.send(data);
}

function showPopupWindow(popup_page)
{
    popup_page.style.display = "inline-block";

}

function hidePopupWindow(popup_page)
{
    popup_page.style.display = "none";

}

function cancel(popup_page)
{
    hidePopupWindow(popup_page);
    timer = setInterval(webcheck , 3000);
}

timer = setInterval(webcheck , 3000);

</script>

<style type="text/css">
    .popup_page {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        z-index: 99;
        display: none;
    }

    .popup_title_div {
        height: 40px;
        box-shadow: 0px 3px 7px #c0c0c0;
        border-radius: 10px; 
        background-color: #f3f3f3;
    }

    .popup_content_div {
        height: calc(80% - 80px);
        padding-top: 30px;
    }

    .popup_title_text {
        position: absolute;
        top: calc((40px - 20px) / 2);
        left: calc((100% - 133px) / 2);
    }

    .popup_content_text {
        font-size: 30px;
        top: 40px;
    }

    .popup_window {
        position: absolute;
        height: 25%;
        width: 35%;
        top: 30%;
        left: calc((100% - 35%) / 2);
        border: 2px solid #f3f3f3;
        border-radius: 10px; 
        background-color: white;
    }

    .popup_window input {
        margin-top: 30px;
    }

    video {
        height: 56px;
        width: 300px;
    }
</style>

<script type="text/javascript">
function geoFindMe() {
  var output = document.getElementById("out");

  if (!navigator.geolocation){
    output.innerHTML = "<p>the Geolocation API isn't supported in Your browser</p>";
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    output.innerHTML = '<p>Latitude: ' + latitude + '° <br>Longitude: ' + longitude + '°</p>';
  };

  function error() {
    output.innerHTML = "can not get your position";
  };
  output.innerHTML = "<p>Locating…</p>";

  navigator.geolocation.getCurrentPosition(success, error);
}
</script>
    <title>Webapp Account</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../static/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../static/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <div class="popup_page" id="popup_notification">
        <div class="popup_window">
            <div class="popup_title_div">
                <span class="popup_title_text">A New Notification</span>
            </div>

            <div class="popup_content_div">
                <span class="popup_content_text">A student wants to ask questions</span>
            </div>
                    
            <input type="button" value="Cancel" onclick="cancel(document.getElementById('popup_notification'))">
         </div>
    </div>
    
    <div class="popup_page" id="popup_recording_player">
        <div class="popup_window">
            <div class="popup_title_div">
                <span class="popup_title_text">A New Recording</span>
            </div>

            <div class="popup_content_div">
                <video controls name="media">
                    <source src="{% static "recording.wav" %}" type="audio/x-wav">
                </video>
            </div>

            <input type="button" value="Cancel" onclick="cancel(document.getElementById('popup_recording_player'))">
         </div>
    </div>
    
    <div class="hero-content">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email d-flex align-items-center">
                                <i class="fa fa-envelope"></i><a href="#">LectureMail.Name@unimelb.edu.au</a>
                            </div><!-- .header-bar-email -->

                            <div class="header-bar-text lg-flex align-items-center">
                                <!-- <p><i class="fa fa-phone"></i>001-1234-88888 </p> -->
                            </div><!-- .header-bar-text -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="Find your lecture">
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li><a href="login">Logout</a></li>
                                </ul>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-9 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title"><a href="index"  rel="home">Lecture<span> Interaction</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li class="current-menu-item"><a href="index">Home</a></li>
                                    <li><button class="btn btn-info" onclick="{location.href='/webapp/attendance'}">Get Attendance</button></li>
                                    <li><a href="#"> </a></li>
                                    <li><button type="button" onclick="chooseastudent()" class="find-me btn btn-info">Choose a student</button></li>
                                    <li><a href="#"> </a></li>
                                    <li><button type="button" onclick="pushLink()" class="find-me btn btn-info">Push the link</button></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->

                                <div class="header-bar-cart">
                                    <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                                </div><!-- .header-bar-search -->
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>Create New Lecture</h1>
                            </header>

                            <div>
                                <form id="geocoding_form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                                            <button onclick="geoFindMe()" type="button" class="find-me btn btn-info">Find My Location</button>
                                            <div id="out"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="entry-content">
                                <form method="post">
                                    <div style="color:white">{{message}}</div>
                                    <div>
                                        <h4>Latitude</h4>
                                        <input type="text" name="latitude">
                                    </div><br/>
                                    <div>
                                        <h4>Longitude</h4>
                                        <input type="text" name="longitude">
                                    </div><br/>
                                    <div>
                                        <h4>Date&Time</h4>
                                        <input type="text" name="dateTime">
                                    </div><br/>
                                    <div>
                                        <h4>link</h4>
                                        <input type="text" name="link">
                                    </div><br/>
                                    <button class="btn btn-default" type="submit">create</button>
                                </form>
                            </div>

                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .hero-content-hero-content-overlay -->
    </div><!-- .hero-content -->

    <div class="icon-boxes">
        <div class="container-fluid">
            <div class="flex flex-wrap align-items-stretch">
                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-user"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Learn From The Experts</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-folder"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Book Library & Store</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-book"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Best Course Online</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-world"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Best Industry Leaders</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .icon-boxes -->
</body>
</html>