<script>
function chooseastudent()
{
    var request = new XMLHttpRequest();
    var url = "/webapp/selectastudent/"
    var lectureID = 1

    request.open("POST", url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onreadystatechange = function () {

        if (request.readyState === 4 && request.status === 200) {
            var json = JSON.parse(request.responseText);
            
            if (json.status == true)
                alert("A student has been chosen");
            else
                alert("Failed to choose a student");
        }
    };
    var data = "lectureID=" + lectureID;
    request.send(data);
}

function webcheck()
{
    var lectureID = "1"

    var request = new XMLHttpRequest();
    var url = "/webapp/webcheck/"

    request.open("POST", url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onreadystatechange = function () {

        if (request.readyState === 4 && request.status === 200) {
            var json = JSON.parse(request.responseText);

            if (json.status == true)
                alert(request.responseText);
        }
    };
    var data = "lectureID=" + lectureID;
    request.send(data);
}

function pushLink()
{
    var lectureID = "1"

    var request = new XMLHttpRequest();
    var url = "/webapp/pushLink/"

    request.open("POST", url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onreadystatechange = function () {

        if (request.readyState === 4 && request.status === 200) {
            var json = JSON.parse(request.responseText);

            if (json.status == true)
                alert("The link has been pushed to all students in the lecture");
            else
                alert("Failed to push the link to all students in the lecture");
        }
    };
    var data = "lectureID=" + lectureID;
    request.send(data);
}

timer = setInterval(webcheck , 3000);

</script>

<button type="button" onclick="webcheck()">Choose a student</button><br>
<button type="button" onclick="pushLink()">Push the link</button>